/**
* Global scss component definitions
* Colors, sizes, fonts go here
*/
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}
@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

body,
html {
  height: 100%;
}

.section__title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 300;
  color: black; //#e0e0e0
  text-align: center;
}

.card {
  width: 400px;
  margin-left: 30px;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #f9f9f9; //#333333
  box-shadow: 1px 6px 23px -11px rgba(0,0,0,0.75);
}

.card:focus,
.card:hover {
  //  box-shadow: 0 4px 12px 0 (#020202);
  //box-shadow: 1px 6px 23px -11px rgba(0,0,0,0.75);
}

.card__image {
  max-width: 75px;
  max-height: 75px;
  margin: 10px;
}

.card__image:focus,
.card__image:hover {
  //box-shadow: 0 4px 8px 0 (#020202);
  box-shadow: 1px 6px 23px -11px rgba(0,0,0,0.75);
}

.card__image-white {
  background-color: black;
  max-width: 75px;
  margin: 5px;
}

.card__container {
  padding: 0 16px;
}

.card__title {
  color: black; //#afafaf
  font-size: 20px;
  font-family: Lato, sans-serif;
  padding-bottom: 5px;
  text-decoration: none;
}

.card__text {
  color: black; //#afafaf
  font-family: Lato, sans-serif;
  text-align: left;
  font-size: 16px;
  padding: 10px;
}

.card__loc {
  color: black; //#afafaf
  font-family: Lato, sans-serif;
  text-align: center;
  padding-bottom: 3px;
}
@media screen and (max-width: 1000px) {
  .card {
    margin: 20px;
    width: 70%;
  }

  .card__text {
    text-align: center;
  }
}
