<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dustin Knopoff</title>
    <link rel="stylesheet" href="styles.css"/>
    <script src="index.js"></script>
    <link rel='shortcut icon' type='image/x-icon'
          href="https://res.cloudinary.com/dknopoff/image/upload/v1520699504/portfolio/DKLogo.ico"/>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous"/>
    <script src="https://cdn.rawgit.com/janl/mustache.js/master/mustache.min.js"></script>
</head>
<body>
<div class="main">
    <div class="title-block">
        <img src="https://res.cloudinary.com/dknopoff/image/upload/v1520699504/portfolio/DKLogo.png" alt="Logo"
             class="title-img"/>
        <h1 class="title">Dustin Knopoff</h1>
        <p class="subttile">Computer Science/Design Major at Northeastern University</p>
        <div class="icons">
            <a href="mailto:dustinknopoff@gmail.com">
                <i class="fa fa-envelope fa-2x"></i>
            </a>
            <a href="https://github.com/dustinknopoff" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github fa-2x"></i>
            </a>
        </div>
        <p>made with <a href="https://mustache.github.io/mustache.5.html" target="_blank" rel="noopener noreferrer"
                        class="credit">Mustache</a>
            <br/>
            Photo by <a
                    href="https://unsplash.com/@nkachanovskyyy?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
                    target="_blank" rel="noopener noreferrer" class="credit">Nikita Kachanovsky </a>
            on Unsplash
        </p>
        <!--<img src="https://res.cloudinary.com/dknopoff/image/upload/v1523893789/profile.jpg" class="round"/>-->
    </div>
    <div>
        <ul id="links">
            {{#links}}
                <li class="menus"><a href="{{link}}" onclick="execute(this.href, this)">{{name}}</a></li>
            {{/links}}
        </ul>
    </div>
    <div id="content">

    </div>
</div>
</body>
</html>