.edu {
  margin: 0;
  padding: 0;
}

.edu__title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 300;
  color: #e0e0e0;
  text-align: center;
}

.section__edu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.school {
  width: 350px;
  margin-left: 30px;
  text-align: center;
  background-color: #333333;
  margin-top: 30px;
  padding: 10px;
  overflow: scroll;
}

.school:hover {
  box-shadow: 0 4px 12px 0 (#020202);
}

.school__title {
  color: #e0e0e0;
  font-size: 20px;
  font-family: 'Lato';
  padding-bottom: 5px;
  text-decoration: none;
}

.school__info {
  color: #afafaf;
  font-family: Lato, sans-serif;
  text-align: center;
}
